.main {
    text-align: center;
}

.cardDeck {
    width: 60vw;
    display: grid; 
    grid-template-columns: repeat(4, 1fr);    
    margin: auto;
    row-gap: 10px;
}

.cardContainer {
    aspect-ratio: 2/3;

    width: 150px;
    border-radius: 10px;
    overflow: hidden;

    border-style: solid;

    
}

img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}

